.container {
    text-align: center;
    padding: 20px;
    margin-bottom: 70px;
}

.container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.container p {
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}